<?xml version="1.0" encoding="utf-8"?>
<TestList xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://softing-ia.com/TestClientCOM.xsd">

	<DaSessionCreate DisplayName="Default OPC specification">
		<Url>{::DaSessionUrl}</Url>
		<Property>System.Session</Property>
	</DaSessionCreate>

	<ImportFile>
		<FilePath>DaSession.xml</FilePath>
	</ImportFile>

	<ImportFile>
		<FilePath>DaSubscription.xml</FilePath>
	</ImportFile>

	<ImportFile>
		<FilePath>DaItem.xml</FilePath>
	</ImportFile>

	<DaSessionRemove>
		<Session>System.Session</Session>		
	</DaSessionRemove>


	<DaSessionCreate DisplayName="Forced OPC specification DA2.0">
		<Url>{::DaSessionUrl}</Url>
		<ForcedOpcSpecification>DA20</ForcedOpcSpecification>
		<Property>System.Session</Property>
	</DaSessionCreate>

	<ImportFile>
		<FilePath>DaSubscription2.0.xml</FilePath>
	</ImportFile>

	<ImportFile>
		<FilePath>DaItem.xml</FilePath>
	</ImportFile>

	<DaSessionRemove>
		<Session>System.Session</Session>
	</DaSessionRemove>

</TestList>
